<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/pizza.png" alt="">
  </div>
  <div class="headings">
    <h2>Pizza</h2>
    <h3>Made with love</h3>
    <a href="/pizzas" class="btn">View Menu</a>
  </div>
</header>


<%- include('partials/footer'); -%>