<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/pizza.png" alt="pizza icon">
    <h4>Margherita</h4>
    <p>Buffalo Mozzarella, Cherry Tomato</p>
  </li>
  <li class="recipe">
    <img src="/pizza.png" alt="pizza icon">
    <h4>Vegetarian</h4>
    <p>Mozzarella, Onion, Pepper, Mushroom</p>
  </li>
  <li class="recipe">
    <img src="/pizza.png" alt="pizza icon">
    <h4>Pepperoni</h4>
    <p>Mozzarella, Pepperoni</p>
  </li>
  <li class="recipe">
    <img src="/pizza.png" alt="pizza icon">
    <h4>Hawaiin</h4>
    <p>Mozzarella, Pepperoni, Pineapple</p>
  </li>
  <li class="recipe">
    <img src="/pizza.png" alt="pizza icon">
    <h4>Meatza</h4>
    <p>Mozarella, Chicken, Pepperoni, Beef</p>
  </li>
  <li class="recipe">
    <img src="/pizza.png" alt="pizza icon">
    <h4>Mushroom</h4>
    <p>Mozarella, Seasonal, Mushroom</p>
  </li>
</ul>

<%- include('partials/footer'); -%>